# example here# application env

## base app env
NODE_ENV=development
PORT=3000
DATABASE_URL=
DATABASE_POOL_SIZE=10
DRIZZLE_MIGRATIONS_DIR=./drizzle
APP_BASE_URL=http://localhost:3000

## rustfs object storage credential
OBJECT_STORAGE_ENDPOINT=http://localhost:9000
OBJECT_STORAGE_REGION=us-east-1
OBJECT_STORAGE_ACCESS_KEY=
OBJECT_STORAGE_SECRET_KEY=
OBJECT_STORAGE_BUCKET=cinemate-images

## user jwt credential
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

# google auth credential
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

## admin jwt credential
JWT_ADMIN_ACCESS_SECRET=
JWT_ADMIN_REFRESH_SECRET=

## xendit payment gateway credential
XENDIT_API_KEY=
XENDIT_CALLBACK_TOKEN=
XENDIT_INVOICE_DURATION_SECONDS=86400
FRONTEND_SUCCESS_URL=http://localhost:5173/payment/success
FRONTEND_FAILURE_URL=http://localhost:5173/payment/failed

## ngrok tunneling credential
NGROK_AUTHTOKEN=

## idempotency feature flag
IDEMPOTENCY_FLAG=false
IDEMPOTENCY_TTL_HOURS=24
## app logging feature flag
APP_LOGGING_FLAG=true
APP_LOGGING_SLOW_MS=3000

## admin seeding information
ADMIN_USERNAME=admin
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_SEED_FORCE_UPDATE=true

# docker compose env

## mysql infra credential
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=cinemate
MYSQL_USER=
MYSQL_PASSWORD=

## rustfs infra credential
RUSTFS_ACCESS_KEY=
RUSTFS_SECRET_KEY=
